<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bravedroid.courify">

    <application
        android:name=".App"
        android:allowBackup="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

    </application>

</manifest>
